<html>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
if (L){
    var L = [0,0,0,0,0,0]
    }
else{
        var L = {{ L }}
    }
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'One Rep Max'
            },
            subtitle: {
                text: 'Source: Wikipedia.org'
            },
            xAxis: {
                categories: ['Epley', 'Brzycki', 'Lombardi', 'Mayhew', "O'conner", 'Wathan', 'Lander'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Weight (pounds)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' pounds'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                floating: false,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [
            {
                name: 'One Rep Max',
                data: L
            }]
        });
    });
    

		</script>

  <head>
    <title>{{title}}</title>
  </head>
  <body>
  <form action="/" method='post' name='orm'>
  <label>Weight: </label>{{options.weight}}
  <label>Reps:</label>{{options.reps}}

  <input type='submit' value='Calculate'>
  </form>
      {% if orm %}
    <p>Your One Rep Max is: <em>{{orm}}</em></p>
    {% endif %}
  <script src="/static/js/highcharts.js"></script>
<script src="static/js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </body>

</html>